.courseItem{
    height: 2rem;
    background-color: #8B005D;
    color:white;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    padding:2rem;
    width: 100%;
    cursor: pointer;
}

